<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8"/>
	<title>Title</title>
	<link type="text/css" rel="stylesheet" href="http://localhost:8080/css/pdfStyle.css"/>
	<style>
        .red{color: red;}
	</style>
</head>
<body class="border">
	<h1>html to pdf</h1>
	<p class="green">샘플 테이블</p>
	<table class="border">
		<thead>
		<tr>
			<th class="red">th1</th>
			<th>th2</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>td1</td>
			<td>td2</td>
		</tr>
		<tr>
			<td>한글한글</td>
			<td>한글</td>
		</tr>
		</tbody>
	</table>
	<p class="NotoSansKR">noto-sans-kr 서체 적용 테스트</p>
	<p class="NotoSansKR-Bold">noto-sans-kr-bold 서체 적용 테스트</p>
	<p class="NanumGothic">나눔고딕</p>
	<p class="YnPeople-Gothic">유앤피플 고딕체</p>
	<p>기본폰트(NotoSansKR)</p>
	<img src="http://localhost:8080/img/icon.png" alt="icon" height="80"/>
</body>
</html>